node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

frontend/build/

backend/dist/
backend/build/

*.tmp
*.cache
*.log
.cache/
.tmp/
coverage/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp